<div id="main">
	<div id="leftside">
		<h2 id="p1"> Enter name:
		<input id="play1"></input>
		<br>
		<a href="#" id="1r" class="btn btn-blue">Ready</a>
		</h2>
		
	</div>
	
	<div id="middleside" align="middle">
		<h1>Connect4</h1>
		<div id="board" align="middle">	</div>
		<a href="#" id="start" class="btn btn-blue">Start</a>
		<a href="#" id="restart" class="btn btn-blue">Restart</a>
	</div>
	
	<div id="rightside">
		<h2 id="p2"> Enter Name:
		<input id="play2"></input>
		<br>
		<a href="#" id="2r" class="btn btn-blue">Ready</a>
		</h2>
		</h2>
	</div>
</div>
